.container
{
  width: 100vw;
  height: 100vh;
  background-color: #e7e5e5;
  @media (max-width: 767px) {
    background-color: #144F9E;
  }
  display: flex;
  .div-card{
    width: 70%;
    height: 100vh;
    background-image: url('../../../assets/img/fundo-web.png');
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    @media (max-width: 767px) {
      display: none;
    }
  }
  .div-card-login{
    width: 30%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding:50px 100px;

    .nav-logo{
      width: 300px;
      height: 60px;
      margin: auto;
      margin-top: 70px;
      background-image: url('../../../assets/img/dunamis_log01.png');
      background-repeat: no-repeat, repeat;
      background-size: 100%;
      @media (max-width: 767px) {
        background-image: url('../../../assets/img/dunamis_logo02.png');
      }

    }
    .div-inputs{
      width: 100%;
      height: auto;
      align-items: center;
      justify-content: center;
      text-align: center;
      .input-login{
        width: 90%;
        border: none;
        border-bottom: 2px solid #144F9E;
        font-size: 20px;
        padding: 5px;
        margin: auto;
        margin-top: 60px;
      }
    }
  }
}
