.container
{
  width: 100vw;
  height: 100vh;
  margin-top: 60px;
  background-color: #e7e5e5;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .banner {
    margin: auto;
    width: 70%;
    height: 93%;
    background-image: url('../../../../../assets/img/logo-home-web.png');
    background-repeat: no-repeat, repeat;
    background-size: 100%;

    @media (max-width: 767px) {
      width: 90vw;
      height: 90vmax;
      background-image: url('../../../../../assets/img/logo-home-mobile.png');
    }
}


}
